{% extends "main_page.html" %}
{% load static %}
{% block icerik %}
{% load crispy_forms_tags %}
<div class="row">
<div class="container">

    <h2 class="page_header">İlan Ver</h2>
    <hr>
    {% if form.errors %}
        {{form.errors}}
    {% endif %}
    <div class="col-md-12">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
    </div>
            <div class="row">
            <div class="col-md-12">
            <hr>
            {% for image in formset %}
                <img src="/media/{{ image.image }}" width="20%" style="margin-top:5px;" />
                <label> Kaldır </label>
                <input type="checkbox" name="delete" value="{{image.id}}" id="id_delete" /> <br>
            {% endfor %}
            <hr>
            <label>Select Image : </label>
            <input type="file" id="id_files" name="files" multiple><br>
            </div>
            <div class="col-md-6">
            <button type="submit" id="inp" class="btn btn-outline-primary" style="float:right;">Kaydet</button>
            </div>
            </div>
        </form>
    </div>
</div>

<style>
    .inp{
        margin: 5px;
    }
 </style>
 {% endblock %}

